/*
 * Start Bootstrap - Logo Nav (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@font-face {
    font-family: bebek_r;
    src: url(http://localhost/newarek/assets/fonts/SFUIDisplay-Regular.otf);
}
@font-face {
    font-family: bebek_l;
    src: url(http://localhost/newarek/assets/fonts/SFUIDisplay-Light.otf);
}
@font-face {
    font-family: bebek_m;
    src: url(http://localhost/newarek/assets/fonts/SFUIDisplay-Medium.otf);
}
@font-face {
    font-family: bebek_b;
    src: url(http://localhost/newarek/assets/fonts/SFUIDisplay-Bold.otf);
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}
.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}
nav {
    margin-top: 18px;
    margin-left: 21px;
}
nav a{
    color: #a0a0a0;
}
nav a:hover{
    color: #ba031a;
}
.navbar-nav>li.geserdikit>a{
    margin-right: 14px;
    line-height: 17px;
}
.navbar-nav>li>a {
    margin-right: 14px;
    line-height: 24px;
}
.form-control{
    height:34px;
}
.gbr{
    background: 
       linear-gradient(rgba(168, 2, 23,0.77), rgba(168, 2, 23,0.77)),  
       url("../img/bg.jpg")  no-repeat ;
    background-size: cover;
    height:112vh;
    background-position-x: -265px ;

}
.formlogin{
    background-color: #FFF;
    height:112vh;
}
.formulir{
    margin:11% 0% 12% 23% ;
}
.signin{
    text-align: right;
    color: #a80217;
    text-transform: capitalize;
    font-size: 32px;
    font-family: bebek_r;
}
.grs_sign{
    border-bottom: solid 3px #a80217;
    border-radius: 2px;
    margin:-1% 5% 56px 85%;
}
.navbar-nav>li.geserdikit>a{
    margin-left: 0px !important;
    border: solid 1px #ba031a;
    color: #ba031a;
    font-weight: bold;
    border-radius: 32px;
    padding: 12px 27px 12px 27px;
}
.navbar-nav>li.geserdikit>a:hover{
    background-color:#ba031a !important;
    color:#FFF;
    font-weight: bold;
}
input[type="text"], input[type="password"]{
    border-radius:30.5px;
    padding:7%;
    border-color:#979797;
    color:#4f4f4f;
    font-size: 18px;
}
input[type="password"]{
    margin-top:30px;
}
.form-control:focus{
    border:solid 1.4px #ba031a;
    box-shadow: none;
}
.tombol-login{
    margin-top:90px;
}
.btn-danger {
    color: #fff;
    background-color: #ba031a;
    border-color: #ba031a;
    border-radius: 30.5px;
    text-transform: uppercase;
}
.navbar-nav>li>a {
    padding-top: 9px;
    padding-bottom: 8px;
}
.ayam{
    margin:0px !important;
}
.logo{
    background-image: url("../img/logo.png");
    width: 79px;
    height: 79px;
    background-repeat: no-repeat;
    margin: 36px 0 0 36px ;
}
.judul{
    margin-right:20px;
    font-size: 35px;
    font-family: bebek_m;
    font-weight: 500;
    text-align: right;
    color: #ffffff;
}
.motion{
    font-size: 30px;
    font-weight: 300;
    line-height: 1.17;
    text-align: right;
    margin-right:20px;
    color: #ffffff;
    font-family: bebek_l;
}
.tahun{
    font-family: bebek_m;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.25;
    text-align: right;
    margin-right:20px;
    color: #ffffff;
}
.tulisan{
    position: fixed;
    bottom: 6%;
    right: 43%;
    width: 100%;
}
.grs{
    border-radius: 2px;
    border-bottom: 3px solid #ffffff;
}
.lbr_grs{
    margin-left: 95%;
    margin-right: 1.5%;
}
.forgot{
    color: #4f4f4f;
    text-decoration: none;
    font-size: 15px;
}
a.forgot:hover{
    text-decoration: none;
    color: #424242;
    font-weight: 600;
}
@media(min-width:768px) {

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}